 @model ProductVm
    

<div class="card shadow my-5">
    <div class="card-body">
        <form class="form-group" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                      <input class="form-control" value=" @Model.product.Name" placeholder="Name" type="text" name="Name"/>
                    </div>
                 <div class="col-lg-4">
                      <input class="form-control" value=" @Model.product.Price"  placeholder="Price" type="text" name="Price"/>
                  
                 </div>
                  <div class="col-lg-4">
                      <input class="form-control" value=" @Model.product.Quantity"  placeholder="Quantity" type="text" name="Quantity"/>
                  
                 </div>
                   <div class="col-lg-4">
                      <input class="form-control" value=" @Model.product.DisCount"  placeholder="Discount" type="text" name="Discount"/>
                  
                 </div>
                    <div class="col-lg-12">
                      <textarea id="editor" value=" @Model.product.Description"  class="form-control" placeholder="Description" name="Description"></textarea>
                  
                 </div>
                   <div class="col-lg-4 my-2">
                    <span>PhotoUrl</span>
                    <input class="form-control" type="file" name="NewPhotoUrl" />
                    <input type="hidden" value="@Model.product.CoverPhoto" name="PhotoUrl"/>
                </div>
                <div class="col-lg-4 my-2">
                    <span>PhotoUrl</span>
                    <input class="form-control" type="file" name="NewCoverPhoto" />
                    <input type="hidden" value="@Model.product.CoverPhoto" name="CoverPhoto"/>
                </div>
                <div class="col-lg-4 my-2">
                    <span>IsSlider</span>
                    <input type="checkbox" name="IsSlider" />
                </div>
                    <div class="col-lg-4 my-2">
                        <select multiple class="form-control" name="CategoriesId" >
                        @{
                            var productCategory = Model.productCategories;
                            var categories = Model.categories;

                            @foreach (var item in categories)
                            {
                                if (productCategory.Contains(item.Id))
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                     <option value="@item.Id" >@item.Name</option>
                                }
                            }
                        }           



                        </select>

                    </div>              
               </div>

               <input type="submit" class="btn-primary btn-outline-warning" value="Update"/>
        </form>
    </div>
</div>

@section Scripts {
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });
</script>

}